@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

:root {
  --primary: #7876f4;
  --secondary: #a23be6;
}

body {
  font-family: "Montserrat", sans-serif !important;
}
